<!DOCTYPE html>
<head>
  <title><%=typeof title == 'undefined' ? 'Report' : title%></title>
  <link rel="stylesheet" href="<%=sails.config.appUrl%>/styles/style.css">
</head>
<body>
<div class="boxed" align="center">
  <form method="post" action="\report\edit" id="newReport" enctype="multipart/form-data">
    <table align="center">
      <tr>
        <td>
          <h3>Body:</h3>
        </td>
        <td>
          <textarea name="body" form="newReport" rows="4" cols="50"><%= report.body %></textarea>
        </td>
      </tr>
      <tr>
        <td>
          <h3>Related Papers:</h3>
        </td>
        <td>
          <input name="relatedPapers" type="text">
        </td>
      </tr>
      <tr>
        <td>
          <h3>Tags:</h3>
        </td>
        <td>
          <input name="tags" type="text" value="<%= report.tags?report.tags.join():'' %>">
        </td>
      </tr>
      <tr>
        <td>
          <h3>PDF:</h3>
        </td>
        <td>
          <input name="pdf" type="file">
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <td>
          <input type="submit" value="Sumbit">
        </td>
      </tr>
    </table>
  </form>
</div>
<div class="boxed" align="center">
  <table align="center">
    <tr>
      <td>
        <h4>Deadline:</h4>
      </td>
      <td>
        <%= deadline %>
      </td>
    </tr>
    <tr>
      <td>
        <h4>LastModified:</h4>
      </td>
      <td>
        <%= lastModified %>
      </td>
    </tr>
  </table>
</div>
<div class="boxed" style="padding: 5px">
  <form action="\panel">
    <input type="submit" value="Panel">
  </form>
  <form action="\panel\workflow">
    <input type="submit" value="Workflow">
  </form>
  <form action="\logout">
    <input type="submit" value="Logout">
  </form>
</div>
</body>
