<!DOCTYPE html>
<head>
  <title><%=typeof title == 'undefined' ? 'Admin Panel' : title%></title>
  <link rel="stylesheet" href="<%=sails.config.appUrl%>/styles/style.css">
  <script src="<%=sails.config.appUrl%>/js/dependencies/jquery.blockUI.js"></script>
  <script src="<%=sails.config.appUrl%>/js/dependencies/jquery-3.1.1.min.js"></script>
  <script type="text/javascript">
    $.blockUI.defaults.applyPlatformOpacityRules = false;
    $(document).ready(function() {
      $('div.blocked').block({ message: null });
    });
  </script>
</head>
<body>
<div class="boxed"><img src="/images/icon.png"><h1>LabRiver</h1></div>
<div class="boxed">
  <div class="window blocked">
    <h2>Supervisor Management:</h2>
    <form method="post" action="/admin/setSupervisor" class="part">
      Enter Nicknames:
      <table align="center">
        <tr>
          <td> <input name="who" type="text"></td>
        </tr>
        <tr>
          <td>is Supervisor of</td>
        </tr>
        <tr>
          <td><input name="whom" type="text"></td>
        </tr>
      </table>
      <input type="submit" value="set Supervisor">
    </form>
  </div>
  <div class="window blocked">
    <h2>Calendar Editor:</h2>

  </div>
  <div class="window">
    <h2>Notification Center:</h2>
    <form method="post" action="/admin/broadcastNotification" class="part">
      <table align="center">
        <tr>
          <td>notification Category:</td>
          <td> <input name="cat" type="text"></td>
        </tr>
        <tr>
          <td>notification Title:</td>
          <td><input name="title" type="text"></td>
        </tr>
        <tr>
          <td>notification Link:</td>
          <td><input name="link" type="url"></td>
        </tr>
      </table>
      <input type="submit" value="Broadcast">
    </form>
    <form method="post" action="/admin/makeNotification" class="part">
      <table align="center">
        <tr>
          <td>target Nickname:</td>
          <td> <input name="nickname" type="text"></td>
        </tr>
        <tr>
          <td>notification Category:</td>
          <td> <input name="cat" type="text"></td>
        </tr>
        <tr>
          <td>notification Title:</td>
          <td><input name="title" type="text"></td>
        </tr>
        <tr>
          <td>notification Link:</td>
          <td><input name="link" type="url"></td>
        </tr>
      </table>
      <input type="submit" value="Make Notification">
    </form>
  </div>
  <div class="window">
    <h2>User Registration Approval:</h2>
    <div align="center">
      <table align="center" class="part">
        <% for (var i=0;i<users.length;i++)  { %>
        <tr>
          <td><h3>name:</h3> <%= users[i].fname %> <%=users[i].lname %></td>
          <td><h3>email:</h3> <%= users[i].email  %></td>
          <td>
            <form method="post" action="/admin/approve">
              <input name="uid" type="hidden" value="<%= users[i].id %>">
              <input type="submit" value="Approve">
            </form>
          </td>
        </tr>
        <% } %>
      </table>
    </div>
  </div>
  <form id="logouter" method="post" action="logout">
    <input type="submit" value="Logout">
  </form>
</div>
</body>
