  <title><%=typeof title == 'undefined' ? 'Admin Panel' : title%></title>
  <style is="custom-style">
    app-drawer {
      --app-drawer-width: 280px;
      --app-drawer-content-container: {
        background-color: lavender;
      }
    }
    paper-menu {
      background-color: inherit;
    }
    paper-item {
      --paper-item-selected: {
        background: skyblue;
        font-weight: bold;
      };
    }
    paper-button.blue {
      text-decoration: none;
      background-color: blue;
      color: white;
    }
    paper-button.green {
      text-decoration: none;
      background-color: #0d7611;
      color: white;
    }
    paper-button.red {
      text-decoration: none;
      background-color: #a1000b;
      color: white;
    }
    paper-dropdown-menu {
      --paper-input-container-label: {
        text-align: center;
      };
      --paper-input-container-input: {
        text-align: center;
      }
    }
  </style>
</head>
<body>
<template id="t" is="dom-bind">
  <app-drawer-layout fullbleed>
    <app-drawer id="drawer" swipe-open>
      <paper-header-panel>
        <paper-toolbar class="tall">
          <image-mask class="middle" title="profile picture" shape="squircle" size="80" src="<%=avatarFd%>"></image-mask>
          <paper-icon-button src="/images/logo.png"></paper-icon-button>
          <span class="title">LabRiver</span>
          <span style="padding: 8px" class="middle">Welcome <%=user.fname%> <%=user.lname%>! <br><br> @<%=user.nickname%></span>
        </paper-toolbar>
        <paper-menu selected="4">
          <paper-item disabled>Profile</paper-item>
          <a href="/panel" tabindex="-1" style="text-decoration: inherit; color: inherit">
            <paper-item>Panel</paper-item>
          </a>
          <a href="/panel/workflow" tabindex="-1" style="text-decoration: inherit; color: inherit">
            <paper-item <%=(user.nickname=='admin'?'disabled':'')%>>Workflow</paper-item>
          </a>
          <a href="/panel/resources" tabindex="-1" style="text-decoration: inherit; color: inherit">
            <paper-item>Resources</paper-item>
          </a>
          <paper-item>
            <a href="/admin" tabindex="-1" style="text-decoration: inherit; color: inherit">Admin Panel</a>
          </paper-item>
          <a href="/logout" tabindex="-1" style="text-decoration: inherit; color: inherit">
            <paper-item>Logout</paper-item>
          </a>
        </paper-menu>
      </paper-header-panel>
    </app-drawer>
    <app-header-layout fullbleed>
      <app-header fixed effects="parallax-background">
        <app-toolbar>
          <paper-icon-button icon="menu" drawer-toggle></paper-icon-button>
        </app-toolbar>
        <paper-tabs selected={{selectedTab}} scrollable fit-container>
          <paper-tab>
            <span>Supervisorship</span>
          </paper-tab>
          <paper-tab disabled>
            <span class="disabled">Calendar Editor</span>
          </paper-tab>
          <paper-tab>
            Notification Center
          </paper-tab>
          <paper-tab>
            Registration Approval
          </paper-tab>
          <paper-tab>
            Proposal Freezing
          </paper-tab>
          <paper-tab>
            Thesis Freezing
          </paper-tab>
          <paper-tab>
            Report Assignee
          </paper-tab>
        </paper-tabs>
      </app-header>
      <iron-pages selected={{selectedTab}}>
        <section id="supervisorship">
          <div class="window">
            <table align="center"  style="border: 1px solid #4b4b4b">
              <tr>
                <td class="boxed" style="border: 1px solid #4b4b4b">
                  <form method="post" action="/admin/setSupervisor" id="setSupervisorForm">
                    <table align="center">
                      <tr>
                        <paper-input name="who" label="Supervisor SID" type="text"></paper-input>
                      </tr>
                      <tr>
                        <paper-input name="whom" label="Student SIDs" type="text"></paper-input>
                      </tr>
                    </table>
                    <paper-button class="blue" raised onclick="submitForm('setSupervisorForm')">Set</paper-button>
                  </form>
                </td>
              </tr>
            </table>
          </div>
        </section>
        <section id="calendarEditor">
          <div class="window">
            <h2>Calendar Editor:</h2>

          </div>
        </section>
        <section id="notificationCenter">
          <br>
          <table align="center" style="border: 1px solid #4b4b4b">
            <tr>
              <td class="boxed" style="border: 1px solid #4b4b4b">
                <form method="post" action="/admin/broadcastNotificationD" id="broadcastNotificationByDegreeForm">
                  <table align="center">
                    <tr>
                      <paper-dropdown-menu label="Degree">
                        <paper-listbox class="dropdown-content" attr-for-selected="value" selected="{{broadcastSelectedDegree}}">
                          <paper-item value="bachelor">Bachelor</paper-item>
                          <paper-item value="master">Master</paper-item>
                          <paper-item value="phd">PhD</paper-item>
                        </paper-listbox>
                      </paper-dropdown-menu>
                      <input type="hidden" name="degree" value="{{broadcastSelectedDegree}}">
                    </tr>
                    <tr>
                      <paper-dropdown-menu label="Category">
                        <paper-listbox class="dropdown-content" attr-for-selected="value" selected="{{broadcastDSelectedCategory}}">
                          <paper-item value="general">General</paper-item>
                          <paper-item value="event">Event</paper-item>
                          <paper-item value="warning">Warning</paper-item>
                          <paper-item value="information">Information</paper-item>
                        </paper-listbox>
                      </paper-dropdown-menu>
                      <input type="hidden" name="cat" value="{{broadcastDSelectedCategory}}">
                    </tr>
                    <tr>
                      <paper-input name="title" label="Notification Title" type="text"></paper-input>
                    </tr>
                    <tr>
                      <paper-textarea name="description" label="Notification Description"></paper-textarea>
                    </tr>
                    <tr>
                      <paper-input name="link" label="Notification Link" type="url"></paper-input>
                    </tr>
                  </table>
                  <paper-button class="blue" raised onclick="submitForm('broadcastNotificationByDegreeForm')">Broadcast</paper-button>
                </form>
              </td>
              <td class="boxed" style="border: 1px solid #4b4b4b">
                <form method="post" action="/admin/broadcastNotification" id="broadcastNotificationForm">
                  <table align="center">
                    <tr>
                      <paper-dropdown-menu label="Category">
                        <paper-listbox class="dropdown-content" attr-for-selected="value" selected="{{broadcastSelectedCategory}}">
                          <paper-item value="general">General</paper-item>
                          <paper-item value="event">Event</paper-item>
                          <paper-item value="warning">Warning</paper-item>
                          <paper-item value="information">Information</paper-item>
                        </paper-listbox>
                      </paper-dropdown-menu>
                      <input type="hidden" name="cat" value="{{broadcastSelectedCategory}}">
                    </tr>
                    <tr>
                      <paper-input name="title" label="Notification Title" type="text"></paper-input>
                    </tr>
                    <tr>
                      <paper-textarea name="description" label="Notification Description"></paper-textarea>
                    </tr>
                    <tr>
                      <paper-input name="link" label="Notification Link" type="url"></paper-input>
                    </tr>
                  </table>
                  <paper-button class="blue" raised onclick="submitForm('broadcastNotificationForm')">Broadcast</paper-button>
                </form>
              </td>
              <td class="boxed" style="border: 1px solid #4b4b4b">
                <form method="post" action="/admin/makeNotification" id="makeNotificationForm">
                  <table align="center">
                    <tr>
                      <paper-input name="nickname" label="Target Nickname" type="text"></paper-input>
                    </tr>
                    <tr>
                      <paper-dropdown-menu label="Category">
                        <paper-listbox class="dropdown-content" attr-for-selected="value" selected="{{selectedCategory}}">
                          <paper-item value="general">General</paper-item>
                          <paper-item value="event">Event</paper-item>
                          <paper-item value="warning">Warning</paper-item>
                          <paper-item value="information">Information</paper-item>
                        </paper-listbox>
                      </paper-dropdown-menu>
                      <input type="hidden" name="cat" value="{{selectedCategory}}">
                    </tr>
                    <tr>
                      <paper-input name="title" label="Notification Title" type="text"></paper-input>
                    </tr>
                    <tr>
                      <paper-textarea name="description" label="Notification Description"></paper-textarea>
                    </tr>
                    <tr>
                      <paper-input name="link" label="Notification Link" type="url"></paper-input>
                    </tr>
                  </table>
                  <paper-button class="blue" raised onclick="submitForm('makeNotificationForm')">Send</paper-button>
                </form>
              </td>
            </tr>
          </table>
        </section>
        <section id="registrationApproval">
          <div class="window">
            <div align="center">
              <paper-datatable id="userApproval" data='<%= JSON.stringify(users) %>' multi-selection="true" selectable="true">
                <paper-datatable-column header="Name" property="fullname" align="center" sortable></paper-datatable-column>
                <paper-datatable-column header="Email" property="email" align="center" sortable></paper-datatable-column>
              </paper-datatable>
              <paper-button class="green" raised onclick="approveUsers()">Approve</paper-button>
              <paper-button class="red" raised onclick="declineUsers()">Decline</paper-button>
            </div>
          </div>
        </section>
        <section id="proposalFreezing">
          <div class="window">
            <br>
            <table cellpadding="10" align="center">
              <tr>
                <th>Name</th>
                <th>Student Number</th>
                <th>Freeze</th>
              </tr>
              <% for (var i=0,len=proposals.length;i<len;i++) { %>
              <tr>
                <td><%= proposals[i].authorFullname %></td>
                <td><%= proposals[i].author.studentNumber%></td>
                <td>
                  <paper-toggle-button style="display: inline-flex" class="proposalFreezeToggle" value="<%=proposals[i].author.id%>" <%=proposals[i].freeze?'checked':''%>></paper-toggle-button>
                </td>
              </tr>
              <% } %>
            </table>
          </div>
        </section>
        <section id="thesisFreezing">
          <div class="window">
            <br>
            <table cellpadding="10" align="center">
              <tr>
                <th>Name</th>
                <th>Student Number</th>
                <th>Freeze</th>
              </tr>
              <% for (var i=0,len=theses.length;i<len;i++) { %>
              <tr>
                <td><%= theses[i].authorFullname %></td>
                <td><%= theses[i].author.studentNumber%></td>
                <td>
                  <paper-toggle-button style="display: inline-flex" class="thesisFreezeToggle" value="<%=theses[i].author.id%>" <%=theses[i].freeze?'checked':''%>></paper-toggle-button>
                </td>
              </tr>
              <% } %>
            </table>
          </div>
        </section>
        <section id="reportAssignee">
            <div class="window">
              <br>
              <table cellpadding="10" align="center">
                <tr>
                  <th>Name</th>
                  <th>Student Number</th>
                  <th>Weekly Reporting</th>
                </tr>
                <% for (var i=0,len=students.length;i<len;i++) { %>
                <tr>
                  <td><%= students[i].userRef.fname %> <%= students[i].userRef.lname %></td>
                  <td><%= students[i].studentNumber%></td>
                  <td>
                    <paper-toggle-button style="display: inline-flex" class="weeklyReporterToggle" value="<%=students[i].id%>" <%=students[i].weeklyReporter?'checked':''%>></paper-toggle-button>
                  </td>
                </tr>
                <% } %>
              </table>
          </div>
        </section>
      </iron-pages>
    </app-header-layout>
  </app-drawer-layout>
</template>
<!--<script src="/js/dependencies/jquery-3.1.1.min.js"></script>-->
<script>
  var t = document.querySelector('#t');
  t.selectedTab = <%= selectedTab %>;
  $(document).ready(function () {
    var proposalToggles = document.querySelectorAll('.proposalFreezeToggle');
    var thesisToggles = document.querySelectorAll('.thesisFreezeToggle');
    var weeklyReporterToggles = document.querySelectorAll('.weeklyReporterToggle');
    for (var i=0,len=proposalToggles.length;i<len;i++) {
      proposalToggles[i].addEventListener('change',function () {
      	$.post('/admin/proposalFreeze',{
      		studentId: this.value,
          value: this.checked
        }).done(function () {
          window.location='/admin?tab=4';
        }).fail(function (err) {
          console.log(err);
        })
      })
    }
    for (var i=0,len=thesisToggles.length;i<len;i++) {
      thesisToggles[i].addEventListener('change',function () {
        $.post('/admin/thesisFreeze',{
          studentId: this.value,
          value: this.checked
        }).done(function () {
          window.location='/admin?tab=5';
        }).fail(function (err) {
          console.log(err);
        })
      })
    }
    for (var i=0,len=weeklyReporterToggles.length;i<len;i++) {
      weeklyReporterToggles[i].addEventListener('change',function () {
        $.post('/admin/weeklyReporting',{
          studentId: this.value,
          value: this.checked
        }).done(function () {
          window.location='/admin?tab=6';
        }).fail(function (err) {
          console.log(err);
        })
      })
    }
  });


  function submitForm(id) {
    document.getElementById(id).submit();
  };
  function approveUsers() {
    var approvedUsers = document.getElementById('userApproval').selectedItems;
    $.post('/admin/approve',{
      users:approvedUsers
    }).done(function () {
      window.location='/admin?tab=3';
    }).fail(function (err) {
      console.log(err);
    })
  };
  function declineUsers() {
    var declinedUsers = document.getElementById('userApproval').selectedItems;
    $.post('/admin/decline',{
      users:declinedUsers
    }).done(function () {
      window.location='/admin?tab=3';
    }).fail(function (err) {
      console.log(err);
    })
  };
</script>
</body>
