<!DOCTYPE html>
<head>
  <title><%=typeof title == 'undefined' ? 'Panel' : title%></title>
  <link rel="stylesheet" href="<%=sails.config.appUrl%>/styles/style.css">
  <script src="<%=sails.config.appUrl%>/js/dependencies/jquery.blockUI.js"></script>
  <script src="<%=sails.config.appUrl%>/js/dependencies/jquery-3.1.1.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $.blockUI.defaults.applyPlatformOpacityRules = false;
      $('div.blocked').block({ message: null });
    });
    var delNotif = function delNotif(notifTitle,notifDate) {
      deleteNotifiaction(req.user.id,notifTitle,notifDate);
      console.log("salam!");
    }
  </script>
</head>
<body>
<div class="boxed"><img src="/images/icon.png"><h1>LabRiver</h1> Welcome <%=user.fname%> <%=user.lname%>! <br> @<%=user.nickname%></div>
  <div class="boxed">
    <div class="window">
      <h2>profile:</h2>
      Upload Avatar: <br>
      <form class="part"
            enctype="multipart/form-data"
            action="/user/uploadAvatar"
            method="post">
        <input type="file" name="avatar" />
        <input type="submit" value="upload"/>
      </form>
      <form class="part" action="/user/removeAvatar">
        <input type="submit" value="Remove">
      </form>
      Current Avatar: <br>
      <img src="<%=avatarFd%>" alt="Avatar" width="200px" height="200px">
    </div>
    <div class="window">
      <h2>notifications:</h2>
      <div class="notifbox" align="center">
        <ul>
          <%for(var i=0;i<notifs.length;i++) {%>
          <li>
            <a href="<%= notifs[i].link %>"><%= notifs[i].title %> </a>
            <span style="margin-left:2em"><%=  moment(Date.parse(notifs[i].date)).format('jYYYY/jM/jD h:mm')%></span>
            <span style="margin-left:2em">
              <img src="/images/delete.png" alt="delete"/>
            </span>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
    <div class="window">
      <h2>calendar:</h2>
      Today: <%= date %> <br>
    </div>
    <div class="window">
      <h2>workflow:</h2>
      <form action="/Panel/workflow">
        <input type="submit" value="Workflow" />
      </form>
    </div>
    <div class="window blocked">
      <h2>resources:</h2>
      <form action="/panel/resources">
        <input type="submit" value="Resources" />
      </form>
    </div>
    <div class="window blocked">
      <h2>supervisor:</h2>
      <% if (supervisorOf!=undefined) { %>
        you are supervisor of: <%= supervisorOf %>
      <% } %>
      <% if (supervisor!=undefined) { %>
        your supervisor is: <%= supervisor %>
      <% } %>
    </div>
    <div class="notifbox" style="padding: 5px">
      <form action="logout">
        <input type="submit" value="Logout">
      </form>
    </div>
  </div>
</body>
