  <link rel="import" href="/bower_components/vaadin-date-picker/vaadin-date-picker.html">
  <title><%=typeof title == 'undefined' ? 'Panel' : title%></title>
  <style is="custom-style">
    app-drawer {
      --app-drawer-width: 280px;
      --app-drawer-content-container: {
        background-color: lavender;
      }
    }
    paper-menu {
      background-color: inherit;
    }
    paper-item {
      --paper-item-selected: {
        background: skyblue;
        font-weight: bold;
      };
    }
    vaadin-upload {
      --primary-color: #396;
      --vaadin-upload-file-row: {
        background-color: rgba(183, 225, 205, 0.24);
        padding: 5px;
        border-radius: 4px 4px 0px 0px;
      };
    }
    paper-button.red {
      text-decoration: none;
      background-color: red;
      color: white;
    }
    paper-card {
      min-width: 400px;
    }
  </style>
</head>
<body unresolved>
<template id="t" is="dom-bind">
  <app-drawer-layout fullbleed>
    <app-drawer id="drawer" swipe-open>
      <paper-header-panel>
        <paper-toolbar class="tall">
          <image-mask class="middle" title="profile picture" shape="squircle" size="80" src="<%=avatarFd%>"></image-mask>
          <paper-icon-button src="/images/logo.png"></paper-icon-button>
          <span class="title">LabRiver</span>
          <span style="padding: 8px" class="middle">Welcome <%=user.fname%> <%=user.lname%>! <br><br> @<%=user.nickname%></span>
        </paper-toolbar>
        <paper-menu selected="1">
          <paper-item disabled>Profile</paper-item>
          <paper-item>
            <a href="/panel" tabindex="-1" style="text-decoration: inherit; color: inherit">Panel</a>
          </paper-item>
          <a href="/panel/workflow" tabindex="-1" style="text-decoration: inherit; color: inherit">
            <paper-item <%=(user.nickname=='admin'?'disabled':'')%>>Workflow</paper-item>
          </a>
          <a href="/panel/resources" tabindex="-1" style="text-decoration: inherit; color: inherit">
            <paper-item>Resources</paper-item>
          </a>
          <% if (user.nickname=='admin') { %>
          <a href="/admin" tabindex="-1" style="text-decoration: inherit; color: inherit">
            <paper-item>Admin Panel</paper-item>
          </a>
          <% } %>
          <a href="/logout" tabindex="-1" style="text-decoration: inherit; color: inherit">
            <paper-item>Logout</paper-item>
          </a>
        </paper-menu>
      </paper-header-panel>
    </app-drawer>
    <app-header-layout fullbleed>
      <app-header fixed effects="parallax-background">
        <app-toolbar>
          <paper-icon-button icon="menu" drawer-toggle></paper-icon-button>
        </app-toolbar>
        <paper-tabs selected={{selectedTab}} scrollable fit-container>
          <paper-tab>
            Profile
          </paper-tab>
          <paper-tab>
            Notifications
          </paper-tab>
          <paper-tab>
            Calendar
          </paper-tab>
          <paper-tab disabled>
            <span class="disabled">Supervisor</span>
          </paper-tab>
        </paper-tabs>
      </app-header>
      <iron-pages selected={{selectedTab}}>
        <section id="profile">
          <div class="window">
            Current Avatar: <br>
            <iron-image alt="Profile Picture" src="<%=avatarFd%>" height="300" width="300" sizing="cover"></iron-image> <br> <br>
            Upload Avatar: <br>
            <vaadin-upload id="avatarUpload" target="/user/uploadAvatar" accept="image/*"></vaadin-upload> <br>
            <script>
              document.querySelector('vaadin-upload#avatarUpload').addEventListener('upload-before', function(event) {
                event.detail.file.formDataName = 'avatar';
              });
              document.querySelector('vaadin-upload#avatarUpload').addEventListener('upload-success', function(event) {
                location.reload();
              });
            </script>
            <a href="/user/removeAvatar">
              <paper-button raised class="red">Remove Avatar</paper-button>
            </a>
          </div>
        </section>
        <section id="notifications">
          <div class="window">
            <%for(var i=0;i<notifs.length;i++) {%>
            <a href="<%= notifs[i].link %>">
              <paper-card heading="<%= notifs[i].title %>"  alt="<%= notifs[i].title %>" elevation="3">
                <div class="card-content">
                    <%= notifs[i].description %>
                </div>
                <div class="card-actions">
                  <%= moment(Date.parse(notifs[i].date)).format('jYYYY/jM/jD h:mm') %>
                </div>
              </paper-card>
            </a>
            <br> <br>
            <% } %>
          </div>
        </section>
        <section id="calendar">
          <div class="window">
            Today: <%= date %> <br>
          </div>
        </section>
        <section>
          <div class="window">
            <% if (supervisorOf!=undefined) { %>
            you are supervisor of: <%= supervisorOf %>
            <% } %>
            <% if (supervisor!=undefined) { %>
            your supervisor is: <%= supervisor %>
            <% } %>
          </div>
        </section>
      </iron-pages>
    </app-header-layout>
  </app-drawer-layout>
</template>
<script>
    var t = document.querySelector('#t');
    t.selectedTab = 0;
    function submitForm(id) {
      document.getElementById(id).submit();
    };
</script>
</body>
