  <!--<link rel="import" href="/bower_components/vaadin-date-picker/vaadin-date-picker.html">-->
  <link rel="import" href="/bower_components/fullcalendar-calendar/fullcalendar-theme.html">
  <link rel="import" href="/bower_components/fullcalendar-calendar/fullcalendar-calendar.html">
  <title><%=typeof title == 'undefined' ? 'Panel' : title%></title>
  <style is="custom-style">
    app-drawer {
      --app-drawer-width: 280px;
      --app-drawer-content-container: {
        background-color: lavender;
      }
    }
    paper-menu {
      background-color: inherit;
    }
    paper-item {
      --paper-item-selected: {
        background: skyblue;
        font-weight: bold;
      };
    }
    vaadin-upload {
      --primary-color: #396;
      --vaadin-upload-file-row: {
        background-color: rgba(183, 225, 205, 0.24);
        padding: 5px;
        border-radius: 4px 4px 0px 0px;
      };
    }
    paper-button.red {
      text-decoration: none;
      background-color: red;
      color: white;
    }
    paper-card {
      min-width: 400px;
      --paper-card-header: {
        background-color: #d7d7d7;
      };
      --paper-card-header-text: {
        font-size: large;
        font-weight: 600;
      }
    }
    paper-button.blue {
      text-decoration: none;
      background-color: blue;
      color: white;
    }
    paper-dropdown-menu {
      --paper-input-container-label: {
        text-align: center;
      };
      --paper-input-container-input: {
        text-align: center;
      }
    }
  </style>
</head>
<body unresolved>
<template id="t" is="dom-bind">
  <app-drawer-layout fullbleed>
    <app-drawer id="drawer" swipe-open>
      <paper-header-panel>
        <paper-toolbar class="tall">
          <image-mask class="middle" title="profile picture" shape="squircle" size="80" src="<%=avatarFd%>"></image-mask>
          <paper-icon-button src="/images/logo.png"></paper-icon-button>
          <span class="title">LabRiver</span>
          <span style="padding: 8px" class="middle">Welcome <%=user.fname%> <%=user.lname%>! <br><br> @<%=user.nickname%></span>
        </paper-toolbar>
        <paper-menu selected="1">
          <paper-item disabled>Profile</paper-item>
          <paper-item>
            <a href="/panel" tabindex="-1" style="text-decoration: inherit; color: inherit">Panel</a>
          </paper-item>
          <a href="/panel/workflow" tabindex="-1" style="text-decoration: inherit; color: inherit">
            <paper-item <%=(user.nickname=='admin'?'disabled':'')%>>Workflow</paper-item>
          </a>
          <a href="/panel/resources" tabindex="-1" style="text-decoration: inherit; color: inherit">
            <paper-item>Resources</paper-item>
          </a>
          <% if (user.nickname=='admin') { %>
          <a href="/admin" tabindex="-1" style="text-decoration: inherit; color: inherit">
            <paper-item>Admin Panel</paper-item>
          </a>
          <% } %>
          <a href="/logout" tabindex="-1" style="text-decoration: inherit; color: inherit">
            <paper-item>Logout</paper-item>
          </a>
        </paper-menu>
      </paper-header-panel>
    </app-drawer>
    <app-header-layout fullbleed>
      <app-header fixed effects="parallax-background">
        <app-toolbar>
          <paper-icon-button icon="menu" drawer-toggle></paper-icon-button>
        </app-toolbar>
        <paper-tabs selected={{selectedTab}} scrollable fit-container>
          <paper-tab>
            Profile
          </paper-tab>
          <paper-tab>
            Notifications
          </paper-tab>
          <paper-tab>
            Calendar
          </paper-tab>
          <paper-tab <%=user.nickname=='admin'?'disabled':''%>>
            <span class="<%=user.nickname=='admin'?'disabled':''%>">Supervisor</span>
          </paper-tab>
        </paper-tabs>
      </app-header>
      <iron-pages selected={{selectedTab}}>
        <section id="profile">
          <div class="window">
            <br>
            <iron-image style="border: groove" alt="Profile Picture" src="<%=avatarFd%>" height="300" width="300" sizing="cover"></iron-image> <br> <br>
            <br>
            <vaadin-upload id="avatarUpload" target="/user/uploadAvatar" accept="image/*"><div class="drop-label">Drop your Avatar here.</div></vaadin-upload> <br>
            <script>
              document.querySelector('vaadin-upload#avatarUpload').addEventListener('upload-before', function(event) {
                event.detail.file.formDataName = 'avatar';
              });
              document.querySelector('vaadin-upload#avatarUpload').addEventListener('upload-success', function(event) {
                location.reload();
              });
            </script>
            <a href="/user/removeAvatar">
              <paper-button raised class="red">Remove Avatar</paper-button>
            </a>
          </div>
        </section>
        <section id="notifications">
          <div class="window">
            <%for(var i=notifs.length-1;i>=0;i--) {%>
            <a href="<%= notifs[i].link %>">
              <paper-card heading="<%= notifs[i].title %>"  alt="<%= notifs[i].title %>" elevation="3">
                <iron-icon icon="<%= notifs[i].cat=='general'?'label':notifs[i].cat=='event'?'query-builder':notifs[i].cat=='warning'?'warning':notifs[i].cat=='information'?'info':notifs[i].cat=='supervisor'?'face':'help'%>"></iron-icon>
                <div class="card-content">
                    <%= notifs[i].description?notifs[i].description:'-' %>
                </div>
                <div class="card-actions">
                  <%= moment(Date.parse(notifs[i].date)).format('jYYYY/jM/jD h:mm') %>
                </div>
              </paper-card>
            </a>
            <paper-icon-button class="removeNotificationButton" icon="cancel" alt="<%=i%>"></paper-icon-button>
            <br> <br>
            <% } %>
          </div>
        </section>
        <section id="calendar">
          <div class="window">
            <fullcalendar-calendar></fullcalendar-calendar>
            Today: <%= date %> <br>
          </div>
        </section>
        <section id="supervisor">
          <% if (user.nickname!='admin') { %>
          <div class="window">
            <br>
            <% if (supervisorOf.length>0) { %>
            <h2>You're Supervisor of: <%= supervisorOf.join(' & ') %></h2> <br>
            <% } %>
            <% if (!!supervisor) { %>
            <h2>Your Supervisor is: <%= supervisor %></h2>
            <% } %>
          </div>
          <table align="center" style="border: 1px solid #4b4b4b">
            <tr>
              <th>
                Broadcast Notification to Your Students
              </th>
              <th>
                Send Notification to a Student
              </th>
            </tr>
            <tr>
              <td class="boxed" style="border: 1px solid #4b4b4b">
                <form method="post" action="/panel/broadcastNotificationToStudents" id="broadcastNotificationForm">
                  <table align="center">
                    <tr>
                      <paper-input name="title" label="Notification Title" type="text"></paper-input>
                    </tr>
                    <tr>
                      <paper-textarea name="description" label="Notification Description"></paper-textarea>
                    </tr>
                    <tr>
                      <paper-input name="link" label="Notification Link" type="url"></paper-input>
                    </tr>
                  </table>
                  <paper-button class="blue" raised onclick="submitForm('broadcastNotificationForm')">Broadcast</paper-button>
                </form>
              </td>
              <td class="boxed" style="border: 1px solid #4b4b4b">
                <form method="post" action="/panel/makeNotificationSV" id="makeNotificationForm">
                  <table align="center">
                    <tr>
                      <paper-dropdown-menu label="Target Nickname">
                        <paper-listbox class="dropdown-content" attr-for-selected="value" selected="{{selectedNickname}}">
                          <% for (var i=0,len=supervisorOfNicknames.length;i<len;i++) { %>
                            <paper-item value="<%=supervisorOfNicknames[i]%>"><%=supervisorOfNicknames[i]%></paper-item>
                          <% } %>
                        </paper-listbox>
                      </paper-dropdown-menu>
                      <input type="hidden" name="nickname" value="{{selectedNickname}}">
                    </tr>
                    <tr>
                      <paper-input name="title" label="Notification Title" type="text"></paper-input>
                    </tr>
                    <tr>
                      <paper-textarea name="description" label="Notification Description"></paper-textarea>
                    </tr>
                    <tr>
                      <paper-input name="link" label="Notification Link" type="url"></paper-input>
                    </tr>
                  </table>
                  <paper-button class="blue" raised onclick="submitForm('makeNotificationForm')">Send</paper-button>
                </form>
              </td>
            </tr>
          </table>
          <% } %>
        </section>
      </iron-pages>
    </app-header-layout>
  </app-drawer-layout>
</template>
<script>
    var t = document.querySelector('#t');
    t.selectedTab = <%= selectedTab %>;
    function submitForm(id) {
      document.getElementById(id).submit();
    };
    $(document).ready(function () {
    	var removeNotifButtons = document.querySelectorAll('.removeNotificationButton');
    	for (var i=0,len=removeNotifButtons.length;i<len;i++) {
    		removeNotifButtons[i].addEventListener('click',function () {
          $.post('/panel/deleteNotification',{
            index: this.alt
          }).done(function () {
            window.location='/panel?tab=1';
          }).fail(function (err) {
            console.log(err);
          })
        })
      }
    });
</script>
</body>
