  <title><%=typeof title == 'undefined' ? 'Resources' : title%></title>
  <style is="custom-style">
    app-drawer {
      --app-drawer-width: 280px;
      --app-drawer-content-container: {
        background-color: lavender;
      }
    }
    paper-menu {
      background-color: inherit;
    }
    paper-item {
      --paper-item-selected: {
        background: skyblue;
        font-weight: bold;
      }
    }
    paper-button.blue {
      text-decoration: none;
      background-color: blue;
      color: white;
    }
    paper-button.pdf {
      text-decoration: none;
      background-color: darkred;
      color: white;
    }
    paper-button.sourcecode {
      text-decoration: none;
      background-color: #2e2e2e;
      color: white;
    }
    paper-button.dataset {
      text-decoration: none;
      background-color: #0d7611;
      color: white;
    }
    paper-datatable {
      --paper-datatable-row-hover-color: #d6d6d6;
    }
    paper-dialog > paper-toolbar {
      margin: 0;
      padding: 0;
    }
  </style>
</head>
<body>
<template id="t" is="dom-bind">
  <app-drawer-layout fullbleed>
    <app-drawer id="drawer" swipe-open>
      <paper-header-panel>
        <paper-toolbar class="tall">
          <image-mask class="middle" title="profile picture" shape="squircle" size="80" src="<%=avatarFd%>"></image-mask>
          <paper-icon-button src="/images/logo.png"></paper-icon-button>
          <span class="title">LabRiver</span>
          <span style="padding: 8px" class="middle">Welcome <%=user.fname%> <%=user.lname%>! <br><br> @<%=user.nickname%></span>
        </paper-toolbar>
        <paper-menu selected="3">
          <paper-item disabled>Profile</paper-item>
          <a href="/panel" tabindex="-1" style="text-decoration: inherit; color: inherit">
            <paper-item>Panel</paper-item>
          </a>
          <a href="/panel/workflow" tabindex="-1" style="text-decoration: inherit; color: inherit">
            <paper-item <%=(user.nickname=='admin'?'disabled':'')%>>Workflow</paper-item>
          </a>
          <paper-item>
            <a href="/panel/resources" tabindex="-1" style="text-decoration: inherit; color: inherit">Resources</a>
          </paper-item>
          <% if (user.nickname=='admin') { %>
          <a href="/admin" tabindex="-1" style="text-decoration: inherit; color: inherit">
            <paper-item>Admin Panel</paper-item>
          </a>
          <% } %>
          <a href="/logout" tabindex="-1" style="text-decoration: inherit; color: inherit">
            <paper-item>Logout</paper-item>
          </a>
        </paper-menu>
      </paper-header-panel>
    </app-drawer>
    <app-header-layout fullbleed>
      <app-header fixed effects="parallax-background">
        <app-toolbar>
          <paper-icon-button icon="menu" drawer-toggle></paper-icon-button>
        </app-toolbar>
        <paper-tabs selected={{selectedTab}} scrollable fit-container>
          <paper-tab>
            Paper
          </paper-tab>
          <paper-tab>
            Proposal
          </paper-tab>
          <paper-tab>
            Thesis
          </paper-tab>
          <paper-tab>
            Report
          </paper-tab>
        </paper-tabs>
      </app-header>
      <iron-pages selected={{selectedTab}}>
        <section id="Papers">
          <div class="boxed">
            <div>
              <paper-datatable id="sourcePapers" data='<%= JSON.stringify(sourcePapers) %>'>
                <paper-datatable-column header="Title" property="title" align="center" sortable></paper-datatable-column>
                <paper-datatable-column header="Authors" property="authors" align="center" sortable></paper-datatable-column>
                <paper-datatable-column header="Year" property="year" align="center" sortable></paper-datatable-column>
              </paper-datatable>
            </div>
          </div>
        </section>
        <section id="Proposals">
          <div class="boxed">
            <div>
              <paper-datatable id="sourceProposals" data='<%= JSON.stringify(sourceProposals) %>'>
                <paper-datatable-column header="Author" property="authorFullname" align="center" sortable></paper-datatable-column>
                <paper-datatable-column header="Title" property="title" align="center" sortable></paper-datatable-column>
                <paper-datatable-column header="Tags" property="tags" align="center" sortable></paper-datatable-column>
              </paper-datatable>
            </div>
          </div>
        </section>
        <section id="Theses">
          <div class="boxed">
            <div>
              <paper-datatable id="sourceTheses" data='<%= JSON.stringify(sourceTheses) %>'>
                <paper-datatable-column header="Author" property="authorFullname" align="center" sortable></paper-datatable-column>
                <paper-datatable-column header="Title" property="title" align="center" sortable></paper-datatable-column>
                <paper-datatable-column header="Tags" property="tags" align="center" sortable></paper-datatable-column>
              </paper-datatable>
            </div>
          </div>
        </section>
        <section id="Reports">
          <div class="boxed">
            <div>
              <paper-datatable id="sourceReports" data='<%= JSON.stringify(sourceReports) %>'>
                <paper-datatable-column header="Author" property="authorFullname" align="center" sortable></paper-datatable-column>
                <paper-datatable-column header="Deadline" property="persianDeadline" align="center" sortable></paper-datatable-column>
                <paper-datatable-column header="Tags" property="tags" align="center" sortable></paper-datatable-column>
              </paper-datatable>
            </div>
          </div>
        </section>
      </iron-pages>
    </app-header-layout>
  </app-drawer-layout>
  <paper-dialog id="viewPaperDialog" with-backdrop>
    <paper-toolbar>
      <div class="title" id="viewPaperTitle">View Paper</div>
    </paper-toolbar>
    <paper-dialog-scrollable>
      <div>
        <h3>Abstract:</h3> <p id="viewPaperAbstract"></p>
        <h3>Author:</h3> <p id="viewPaperAuthor"></p>
        <h3>Authors:</h3> <p id="viewPaperAuthors"></p>
        <h3>Type:</h3> <p id="viewPaperType"></p>
        <h3>Tags:</h3> <p id="viewPaperTags"></p>
        <h3>Year:</h3> <p id="viewPaperYear"></p>
        <div align="center">
          <a id="viewPaperPdf" href="#">
            <paper-button class="pdf" raised><iron-icon icon="description"></iron-icon>PDF</paper-button>
          </a>
          <a id="viewPaperDataset" href="#">
            <paper-button class="dataset" raised><iron-icon icon="line-weight"></iron-icon>Dataset</paper-button>
          </a>
          <a id="viewPaperSourceCode" href="#">
            <paper-button class="sourcecode" raised><iron-icon icon="code"></iron-icon>Source Code</paper-button>
          </a>
        </div>
      </div>
    </paper-dialog-scrollable>
  </paper-dialog>
  <paper-dialog id="viewProposalDialog" with-backdrop>
    <paper-toolbar>
      <div class="title" id="viewProposalTitle">View Proposal</div>
    </paper-toolbar>
    <paper-dialog-scrollable>
      <div>
        <h3>Abstract:</h3> <p id="viewProposalAbstract"></p>
        <h3>Author:</h3> <p id="viewProposalAuthor"></p>
        <h3>Tags:</h3> <p id="viewProposalTags"></p>
        <div align="center">
          <a id="viewProposalPdf" href="#">
            <paper-button class="pdf" raised><iron-icon icon="description"></iron-icon>PDF</paper-button>
          </a>
        </div>
      </div>
    </paper-dialog-scrollable>
  </paper-dialog>
  <paper-dialog id="viewThesisDialog" with-backdrop>
    <paper-toolbar>
      <div class="title" id="viewThesisTitle">View Thesis</div>
    </paper-toolbar>
    <paper-dialog-scrollable>
      <div>
        <h3>Abstract:</h3> <p id="viewThesisAbstract"></p>
        <h3>Author:</h3> <p id="viewThesisAuthor"></p>
        <h3>Tags:</h3> <p id="viewThesisTags"></p>
        <div align="center">
          <a id="viewThesisPdf" href="#">
            <paper-button class="pdf" raised><iron-icon icon="description"></iron-icon>PDF</paper-button>
          </a>
          <a id="viewThesisDataset" href="#">
            <paper-button class="dataset" raised><iron-icon icon="line-weight"></iron-icon>Dataset</paper-button>
          </a>
          <a id="viewThesisSourceCode" href="#">
            <paper-button class="sourcecode" raised><iron-icon icon="code"></iron-icon>Source Code</paper-button>
          </a>
        </div>
      </div>
    </paper-dialog-scrollable>
  </paper-dialog>
  <paper-dialog id="viewReportDialog" with-backdrop>
    <paper-toolbar>
      <div class="title" id="viewReportTitle">View Report</div>
    </paper-toolbar>
    <paper-dialog-scrollable>
      <div>
        <h3>Author:</h3> <p id="viewReportAuthor"></p>
        <h3>Body:</h3> <p id="viewReportBody"></p>
        <h3>Deadline:</h3> <p id="viewReportDeadline"></p>
        <h3>Related Papers:</h3> <p id="viewReportRelatedPapers"></p>
        <h3>Tags:</h3> <p id="viewReportTags"></p>
        <div align="center">
          <a id="viewReportPdf" href="#">
            <paper-button class="pdf" raised><iron-icon icon="description"></iron-icon>PDF</paper-button>
          </a>
        </div>
      </div>
    </paper-dialog-scrollable>
  </paper-dialog>
</template>
<script>
  var t = document.querySelector('#t');
  t.selectedTab = 0;

  function submitForm(id) {
    document.getElementById(id).submit();
  };
  $(document).ready(function () {
    document.querySelector('#sourcePapers').addEventListener('row-tap',function (data) {
      document.getElementById('viewPaperTitle').innerHTML = data.detail.item.title;
      document.getElementById('viewPaperAbstract').innerHTML = data.detail.item.abstract?data.detail.item.abstract:'-';
      document.getElementById('viewPaperAuthor').innerHTML = data.detail.item.author?data.detail.item.author.fname+' '+data.detail.item.author.lname+' (@'+data.detail.item.author.nickname+')':'-';
      document.getElementById('viewPaperAuthors').innerHTML = data.detail.item.authors.length>0?data.detail.item.authors.join():'-';
      document.getElementById('viewPaperType').innerHTML = data.detail.item.type;
      document.getElementById('viewPaperTags').innerHTML = data.detail.item.tags.length>0?data.detail.item.tags.join():'-';
      document.getElementById('viewPaperYear').innerHTML = data.detail.item.year?data.detail.item.year:'-';
      if (data.detail.item.document) {
        $('#viewPaperPdf').show();
        document.getElementById('viewPaperPdf').setAttribute('href','/paper/file/' + data.detail.item.document);
      } else {
        $('#viewPaperPdf').hide();
      }
      if (data.detail.item.dataset) {
        $('#viewPaperDataset').show();
        document.getElementById('viewPaperDataset').setAttribute('href','/paper/file/' + data.detail.item.dataset);
      } else {
        $('#viewPaperDataset').hide();
      }
      if (data.detail.item.sourceCode) {
        $('#viewPaperSourceCode').show();
        document.getElementById('viewPaperSourceCode').setAttribute('href','/paper/file/' + data.detail.item.sourceCode);
      } else {
        $('#viewPaperSourceCode').hide();
      }
      viewPaperDialog.open();
    });
    document.querySelector('#sourceProposals').addEventListener('row-tap',function (data) {
      document.getElementById('viewProposalTitle').innerHTML = data.detail.item.title;
      document.getElementById('viewProposalAbstract').innerHTML = data.detail.item.abstract?data.detail.item.abstract:'-';
      document.getElementById('viewProposalAuthor').innerHTML = data.detail.item.author?data.detail.item.author.fname+' '+data.detail.item.author.lname+' (@'+data.detail.item.author.nickname+')':'-';
      document.getElementById('viewProposalTags').innerHTML = data.detail.item.tags.length>0?data.detail.item.tags.join():'-';
      if (data.detail.item.document) {
        $('#viewProposalPdf').show();
        document.getElementById('viewProposalPdf').setAttribute('href','/proposal/file/' + data.detail.item.document);
      } else {
        $('#viewProposalPdf').hide();
      }
      viewProposalDialog.open();
    });
    document.querySelector('#sourceTheses').addEventListener('row-tap',function (data) {
      document.getElementById('viewThesisTitle').innerHTML = data.detail.item.title;
      document.getElementById('viewThesisAbstract').innerHTML = data.detail.item.abstract?data.detail.item.abstract:'-';
      document.getElementById('viewThesisAuthor').innerHTML = data.detail.item.author?data.detail.item.author.fname+' '+data.detail.item.author.lname+' (@'+data.detail.item.author.nickname+')':'-';
      document.getElementById('viewThesisTags').innerHTML = data.detail.item.tags.length>0?data.detail.item.tags.join():'-';
      if (data.detail.item.document) {
        $('#viewThesisPdf').show();
        document.getElementById('viewThesisPdf').setAttribute('href','/proposal/file/' + data.detail.item.document);
      } else {
        $('#viewThesisPdf').hide();
      }
      if (data.detail.item.document) {
        $('#viewThesisSourceCode').show();
        document.getElementById('viewThesisSourceCode').setAttribute('href','/proposal/file/' + data.detail.item.source);
      } else {
        $('#viewThesisSourceCode').hide();
      }
      if (data.detail.item.document) {
        $('#viewThesisDataset').show();
        document.getElementById('viewThesisDataset').setAttribute('href','/proposal/file/' + data.detail.item.dataset);
      } else {
        $('#viewThesisDataset').hide();
      }
      viewThesisDialog.open();
    });
    document.querySelector('#sourceReports').addEventListener('row-tap',function (data) {
      document.getElementById('viewReportAuthor').innerHTML = data.detail.item.author?data.detail.item.author.fname+' '+data.detail.item.author.lname+' (@'+data.detail.item.author.nickname+')':'-';
      document.getElementById('viewReportDeadline').innerHTML = data.detail.item.deadline?data.detail.item.persianDeadline.slice(2,10):'-';
      document.getElementById('viewReportBody').innerHTML = data.detail.item.body?data.detail.item.body:'-';
      document.getElementById('viewReportRelatedPapers').innerHTML = 'Blah Blah, and science';
      document.getElementById('viewReportTags').innerHTML = data.detail.item.tags.length>0?data.detail.item.tags.join():'-';
      if (data.detail.item.document) {
        $('#viewReportPdf').show();
        document.getElementById('viewReportPdf').setAttribute('href','/report/file/' + data.detail.item.document);
      } else {
        $('#viewReportPdf').hide();
      }
      viewReportDialog.open();
    });
  })
</script>
</body>
