  <title><%=typeof title == 'undefined' ? 'Workflow' : title%></title>
  <style is="custom-style">
    app-drawer {
      --app-drawer-width: 280px;
      --app-drawer-content-container: {
        background-color: lavender;
      }
    }
    paper-menu {
      background-color: inherit;
    }
    paper-item {
      --paper-item-selected: {
        background: skyblue;
        font-weight: bold;
      };
    }
    paper-button.blue {
      text-decoration: none;
      background-color: blue;
      color: white;
    }
    paper-button.pdf {
      text-decoration: none;
      background-color: darkred;
      color: white;
    }
    paper-datatable {
      --paper-datatable-row-hover-color: #d6d6d6;
    }
  </style>
</head>
<body>
<template id="t" is="dom-bind">
  <app-drawer-layout fullbleed>
    <app-drawer id="drawer" swipe-open>
      <paper-header-panel>
        <paper-toolbar class="tall">
          <image-mask class="middle" title="profile picture" shape="squircle" size="80" src="<%=avatarFd%>"></image-mask>
          <paper-icon-button src="/images/logo.png"></paper-icon-button>
          <span class="title">LabRiver</span>
          <span style="padding: 8px" class="middle">Welcome <%=user.fname%> <%=user.lname%>! <br><br> @<%=user.nickname%></span>
        </paper-toolbar>
        <paper-menu selected="2">
          <paper-item disabled>Profile</paper-item>
          <a href="/panel" tabindex="-1" style="text-decoration: inherit; color: inherit">
            <paper-item>Panel</paper-item>
          </a>
          <paper-item>
            <a href="/panel/workflow" tabindex="-1" style="text-decoration: inherit; color: inherit">Workflow</a>
          </paper-item>
          <a href="/panel/resources" tabindex="-1" style="text-decoration: inherit; color: inherit">
            <paper-item>Resources</paper-item>
          </a>
          <% if (user.nickname=='admin') { %>
          <a href="/admin" tabindex="-1" style="text-decoration: inherit; color: inherit">
            <paper-item>Admin Panel</paper-item>
          </a>
          <% } %>
          <a href="/logout" tabindex="-1" style="text-decoration: inherit; color: inherit">
            <paper-item>Logout</paper-item>
          </a>
        </paper-menu>
      </paper-header-panel>
    </app-drawer>
    <app-header-layout fullbleed>
      <app-header fixed effects="parallax-background">
        <app-toolbar>
          <paper-icon-button icon="menu" drawer-toggle></paper-icon-button>
        </app-toolbar>
        <paper-tabs selected={{selectedTab}} scrollable fit-container>
          <paper-tab>
            My Papers
          </paper-tab>
          <paper-tab>
            My Proposal
          </paper-tab>
          <paper-tab>
            My Thesis
          </paper-tab>
          <paper-tab>
            My Reports
          </paper-tab>
        </paper-tabs>
      </app-header>
      <iron-pages selected={{selectedTab}}>
        <section id="myPapers">
          <div class="boxed">
            <div>
              <h3>Past Papers:</h3>
              <paper-datatable id="pastPapers" data='<%= JSON.stringify(pastPapers) %>'>
                <paper-datatable-column header="Title" property="title" align="center" sortable></paper-datatable-column>
                <paper-datatable-column header="Authors" property="authors" align="center" sortable></paper-datatable-column>
                <paper-datatable-column header="Year" property="year" align="center" sortable></paper-datatable-column>
                <paper-datatable-column header="last Touch" property="lastTouch" align="center" sortable></paper-datatable-column>
              </paper-datatable>
              <br>
              <a href="\paper\new">
                <paper-button raised class="blue">Add New</paper-button>
              </a>
            </div>
          </div>
        </section>
        <section id="myProposal">
          <div class="boxed">
            <form id="editProposal" method="post" action="\proposal\edit">
              <paper-input name="title" label="Title" type="text" value="<%= proposal.title %>"></paper-input>
              <paper-textarea name="abstract" label="Abstract" value="<%= proposal.abstract %>"></paper-textarea>
              <paper-input name="tags" label="Tags" type="text" value="<%= proposal.tags?proposal.tags.join():'' %>"></paper-input>
              <a href="/proposal/file/<%=proposal.document%>">
                <paper-button class="pdf" raised><iron-icon icon="description"></iron-icon>PDF</paper-button>
              </a>
              <% if (!proposal.freeze) { %>
              <vaadin-upload id="proposalPdfUpload" target="/proposal/uploadPdf" accept=".pdf"></vaadin-upload> <br>
              <script>
                document.querySelector('vaadin-upload#proposalPdfUpload').addEventListener('upload-before', function(event) {
                  event.detail.file.formDataName = 'document';
                });
                document.querySelector('vaadin-upload#proposalPdfUpload').addEventListener('upload-success', function(event) {
                	submitForm('editProposal');
                  window.location = '/panel/workflow?tab=1'
                });
              </script>
              <paper-button class="blue" raised onclick="submitForm('editProposal')">Submit</paper-button>
              <% } else { %>
              <br><br>
              <paper-card elevation=5>
                <div class="card-content">
                  Your Proposal is Freezed.
                </div>
              </paper-card>
              <% } %>
            </form>
          </div>
        </section>
        <section id="myThesis">
          <div class="boxed">
            <form id="editThesis" method="post" action="\thesis\edit">
              <paper-input name="title" label="Title" type="text" value="<%= thesis.title %>"></paper-input>
              <paper-textarea name="abstract" label="Abstract" value="<%= thesis.abstract %>"></paper-textarea>
              <paper-input name="tags" label="Tags" type="text" value="<%= thesis.tags?thesis.tags.join():'' %>"></paper-input>
              <a href="/thesis/file/<%=thesis.document%>">
                <paper-button class="pdf" raised><iron-icon icon="description"></iron-icon>PDF</paper-button>
              </a>
              <% if (!thesis.freeze) { %>
              <vaadin-upload id="thesisPdfUpload" target="/thesis/uploadPdf" accept=".pdf"></vaadin-upload> <br>
              <script>
                document.querySelector('vaadin-upload#thesisPdfUpload').addEventListener('upload-before', function(event) {
                  event.detail.file.formDataName = 'document';
                });
                document.querySelector('vaadin-upload#thesisPdfUpload').addEventListener('upload-success', function(event) {
                  submitForm('editThesis');
                  window.location = '/panel/workflow?tab=2'
                });
              </script>
              <paper-button class="blue" raised onclick="submitForm('editThesis')">Submit</paper-button>
              <% } else { %>
              <br><br>
              <paper-card elevation=5>
                <div class="card-content">
                  Your Thesis is Freezed.
                </div>
              </paper-card>
              <% } %>
            </form>
          </div>
        </section>
        <section id="myReports">
          <div class="boxed">
            <div>
              <h3>Past Reports:</h3>
              <paper-datatable id="pastReports" data='<%= JSON.stringify(pastReports) %>'>
                <paper-datatable-column header="Deadline" property="persianDeadline" sortable align="center"></paper-datatable-column>
              </paper-datatable>
              <br>
              <% if (reportAvailable) { %>
              <paper-button raised class="blue" onclick="reportDialog.open()">Submit/Edit Weekly Report</paper-button>
              <paper-dialog id="reportDialog">
                <div>
                  <div class="boxed" align="center">
                    <form id="newReport" method="post" action="\report\edit">
                      <paper-textarea name="body" label="Body" value="<%= currentReport.body %>"></paper-textarea>
                      <paper-input name="relatedPapers" label="Related Papers" type="text"></paper-input>
                      <paper-input name="tags" label="Tags" type="text" value="<%= currentReport.tags?currentReport.tags.join():'' %>"></paper-input>
                      <a href="/report/file/<%=currentReport.document%>">
                        <paper-button class="pdf" raised><iron-icon icon="description"></iron-icon>PDF</paper-button>
                      </a>
                      <vaadin-upload id="reportPdfUpload" target="/report/uploadPdf/<%=currentReport.id%>" accept=".pdf"></vaadin-upload> <br>
                      <script>
                        document.querySelector('vaadin-upload#reportPdfUpload').addEventListener('upload-before', function(event) {
                          event.detail.file.formDataName = 'document';
                        });
                        document.querySelector('vaadin-upload#reportPdfUpload').addEventListener('upload-success', function(event) {
                          submitForm('newReport');
                          window.location = '/panel/workflow?tab=3'
                        });
                      </script>
                      <paper-button class="blue" raised onclick="submitForm('newReport')">Submit</paper-button>
                    </form>
                </div>
              </paper-dialog>
              <% } %>
            </div>
          </div>
        </section>
      </iron-pages>
    </app-header-layout>
  </app-drawer-layout>
</template>
<script>
  var t = document.querySelector('#t');
  t.selectedTab = <%= selectedTab %>;

  function submitForm(id) {
    document.getElementById(id).submit();
  };

  $(document).ready(function () {
    document.querySelector('#pastPapers').addEventListener('row-tap',function (data) {
      window.location = '/paper/edit/' + data.detail.item.id;
    });
    document.querySelector('#pastReports').addEventListener('row-tap',function (data) {
      window.location = '/report/' + data.detail.item.id;
    });
  })
</script>
</body>
