<!DOCTYPE html>
<head>
  <title><%=typeof title == 'undefined' ? 'Workflow' : title%></title>
  <link rel="stylesheet" href="<%=sails.config.appUrl%>/styles/style.css">
  <script src="<%=sails.config.appUrl%>/js/dependencies/jquery-3.1.1.min.js"></script>
  <script src="<%=sails.config.appUrl%>/js/dependencies/jquery.blockUI.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $.blockUI.defaults.applyPlatformOpacityRules = false;
      $('div.blocked').block({ message: null });
    });
  </script>
</head>
<body>
  <div class="colmask">
    <div class="header">
      <div class="boxed">
        Welcome! Today is <%= moment().format('jYYYY/jM/jD') %>
      </div>
    </div>
    <div class="colmid">
      <div class="colin">
        <div class="colleft">
          <div class="col1<%= proposalAvailable?'':' blocked' %>">
            <h2>Proposal:</h2>
            <div>
              <form action="\proposal\edit">
                <input type="submit" value="Edit">
              </form>
            </div>
          </div>
          <div class="col2">
            <h2>Paper:</h2>
            <div>
              <form action="\paper\new">
                <input type="submit" value="Add New">
              </form>
            </div>
            <div>
              <h3>Past Papers:</h3>
              <table border="1" align="center">
                <tr>
                  <td><h4>Row</h4></td>
                  <td><h4>Title</h4></td>
                </tr>
                <% for (var i=0,len=pastPapers.length;i<len;i++) { %>
                <tr>
                  <td> <%= i+1 %> </td>
                  <td> <%= pastPapers[i].title %> </td>
                </tr>
                <% } %>
              </table>
            </div>
          </div>
          <div class="col3<%= thesisAvailable?'':' blocked' %>">
            <h2>Thesis:</h2>
            <div>
              <form action="\thesis\edit">
                <input type="submit" value="Edit">
              </form>
            </div>
          </div>
          <div class="col4<%= reportAvailable?'':' blocked' %>">
            <h2>Report:</h2>
            <div>
              <form action="\report\edit">
                <input type="submit" value="Submit Week Report">
              </form>
            </div>
            <div>
              <h3>Past Papers:</h3>
              <table border="1" align="center">
                <tr>
                  <td><h4>Row</h4></td>
                  <td><h4>Deadline</h4></td>
                </tr>
                <% for (var i=0,len=pastReports.length;i<len;i++) { %>
                <tr>
                  <td> <%= i+1 %> </td>
                  <td> <%= moment(pastReports[i].deadline).format('jYYYY/jM/jD') %> </td>
                </tr>
                <% } %>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="boxed" style="padding: 5px">
        <form action="\panel">
          <input type="submit" value="Panel">
        </form>
        <form action="\logout">
          <input type="submit" value="Logout">
        </form>
      </div>
    </div>
  </div>
</body>
