  <title><%=typeof title == 'undefined' ? 'Workflow' : title%></title>
  <style is="custom-style">
    app-drawer {
      --app-drawer-width: 280px;
      --app-drawer-content-container: {
        background-color: lavender;
      }
    }
    paper-menu {
      background-color: inherit;
    }
    paper-item {
      --paper-item-selected: {
        background: skyblue;
        font-weight: bold;
      };
    }
    paper-button.blue {
      text-decoration: none;
      background-color: blue;
      color: white;
    }
    paper-button.pdf {
      text-decoration: none;
      background-color: darkred;
      color: white;
    }
    paper-button.sourcecode {
      text-decoration: none;
      background-color: #2e2e2e;
      color: white;
    }
    paper-button.dataset {
      text-decoration: none;
      background-color: #0d7611;
      color: white;
    }
    paper-datatable {
      --paper-datatable-row-hover-color: #d6d6d6;
    }
    paper-dialog > paper-toolbar {
      margin: 0;
      padding: 0;
    }
  </style>
</head>
<body>
<template id="t" is="dom-bind">
  <app-drawer-layout fullbleed>
    <app-drawer id="drawer" swipe-open>
      <paper-header-panel>
        <paper-toolbar class="tall">
          <image-mask class="middle" title="profile picture" shape="squircle" size="80" src="<%=avatarFd%>"></image-mask>
          <paper-icon-button src="/images/logo.png"></paper-icon-button>
          <span class="title">LabRiver</span>
          <span style="padding: 8px" class="middle">Welcome <%=user.fname%> <%=user.lname%>! <br><br> @<%=user.nickname%></span>
        </paper-toolbar>
        <paper-menu selected="2">
          <paper-item disabled>Profile</paper-item>
          <a href="/panel" tabindex="-1" style="text-decoration: inherit; color: inherit">
            <paper-item>Panel</paper-item>
          </a>
          <paper-item>
            <a href="/panel/workflow" tabindex="-1" style="text-decoration: inherit; color: inherit">Workflow</a>
          </paper-item>
          <a href="/panel/resources" tabindex="-1" style="text-decoration: inherit; color: inherit">
            <paper-item>Resources</paper-item>
          </a>
          <% if (user.nickname=='admin') { %>
          <a href="/admin" tabindex="-1" style="text-decoration: inherit; color: inherit">
            <paper-item>Admin Panel</paper-item>
          </a>
          <% } %>
          <a href="/logout" tabindex="-1" style="text-decoration: inherit; color: inherit">
            <paper-item>Logout</paper-item>
          </a>
        </paper-menu>
      </paper-header-panel>
    </app-drawer>
    <app-header-layout fullbleed>
      <app-header fixed effects="parallax-background">
        <app-toolbar>
          <paper-icon-button icon="menu" drawer-toggle></paper-icon-button>
        </app-toolbar>
        <paper-tabs selected={{selectedTab}} scrollable fit-container>
          <paper-tab>
            My Papers
          </paper-tab>
          <paper-tab>
            My Proposal
          </paper-tab>
          <paper-tab>
            My Thesis
          </paper-tab>
          <paper-tab>
            My Reports
          </paper-tab>
        </paper-tabs>
      </app-header>
      <iron-pages selected={{selectedTab}}>
        <section id="myPapers">
          <div class="boxed">
            <div>
              <h3>Past Papers:</h3>
              <paper-datatable id="pastPapers" data='<%= JSON.stringify(pastPapers) %>'>
                <paper-datatable-column header="Title" property="title" align="center" sortable></paper-datatable-column>
                <paper-datatable-column header="Authors" property="authors" align="center" sortable></paper-datatable-column>
                <paper-datatable-column header="Year" property="year" align="center" sortable></paper-datatable-column>
                <paper-datatable-column header="last Touch" property="lastTouch" align="center" sortable></paper-datatable-column>
              </paper-datatable>
              <br>
              <paper-button raised class="blue" onclick="newPaperDialog.open()">Add New</paper-button>
              <!--<a href="\paper\new">-->
                <!--<paper-button raised class="blue">Add New</paper-button>-->
              <!--</a>-->
            </div>
          </div>
        </section>
        <section id="myProposal">
          <div class="boxed">
            <form id="editProposal" method="post" action="\proposal\edit">
              <paper-input name="title" label="Title" type="text" value="<%= proposal.title %>"></paper-input>
              <paper-textarea name="abstract" label="Abstract" value="<%= proposal.abstract %>"></paper-textarea>
              <paper-input name="tags" label="Tags" type="text" value="<%= proposal.tags?proposal.tags.join():'' %>"></paper-input>
              <a href="/proposal/file/<%=proposal.document%>">
                <paper-button class="pdf" raised><iron-icon icon="description"></iron-icon>PDF</paper-button>
              </a>
              <% if (!proposal.freeze) { %>
              <vaadin-upload id="proposalPdfUpload" target="/proposal/uploadPdf" accept=".pdf"></vaadin-upload> <br>
              <script>
                document.querySelector('vaadin-upload#proposalPdfUpload').addEventListener('upload-before', function(event) {
                  event.detail.file.formDataName = 'document';
                });
                document.querySelector('vaadin-upload#proposalPdfUpload').addEventListener('upload-success', function(event) {
                  submitForm('editProposal');
                  window.location = '/panel/workflow?tab=1'
                });
              </script>
              <paper-button class="blue" raised onclick="submitForm('editProposal')">Submit</paper-button>
              <% } else { %>
              <br><br>
              <paper-card elevation=5>
                <div class="card-content">
                  Your Proposal is Freezed.
                </div>
              </paper-card>
              <% } %>
            </form>
          </div>
        </section>
        <section id="myThesis">
          <div class="boxed">
            <form id="editThesis" method="post" action="\thesis\edit">
              <paper-input name="title" label="Title" type="text" value="<%= thesis.title %>"></paper-input>
              <paper-textarea name="abstract" label="Abstract" value="<%= thesis.abstract %>"></paper-textarea>
              <paper-input name="tags" label="Tags" type="text" value="<%= thesis.tags?thesis.tags.join():'' %>"></paper-input>
              <a href="/thesis/file/<%=thesis.document%>">
                <paper-button class="pdf" raised><iron-icon icon="description"></iron-icon>PDF</paper-button>
              </a>
              <% if (!thesis.freeze) { %>
              <vaadin-upload id="thesisPdfUpload" target="/thesis/uploadPdf" accept=".pdf"></vaadin-upload> <br>
              <script>
                document.querySelector('vaadin-upload#thesisPdfUpload').addEventListener('upload-before', function(event) {
                  event.detail.file.formDataName = 'document';
                });
                document.querySelector('vaadin-upload#thesisPdfUpload').addEventListener('upload-success', function(event) {
                  submitForm('editThesis');
                  window.location = '/panel/workflow?tab=2'
                });
              </script>
              <paper-button class="blue" raised onclick="submitForm('editThesis')">Submit</paper-button>
              <% } else { %>
              <br><br>
              <paper-card elevation=5>
                <div class="card-content">
                  Your Thesis is Freezed.
                </div>
              </paper-card>
              <% } %>
            </form>
          </div>
        </section>
        <section id="myReports">
          <div class="boxed">
            <div>
              <h3>Past Reports:</h3>
              <paper-datatable id="pastReports" data='<%= JSON.stringify(pastReports) %>'>
                <paper-datatable-column header="Deadline" property="persianDeadline" sortable align="center"></paper-datatable-column>
              </paper-datatable>
              <br>
              <% if (reportAvailable) { %>
              <paper-button raised class="blue" onclick="newReportDialog.open()">Submit/Edit Weekly Report</paper-button>
              <% } %>
            </div>
          </div>
        </section>
      </iron-pages>
    </app-header-layout>
  </app-drawer-layout>
  <paper-dialog id="newReportDialog" with-backdrop>
      <paper-toolbar>
        <div class="title">Weekly Report Submission</div>
      </paper-toolbar>
    <paper-dialog-scrollable>
      <div align="center">
        <form id="newReport" method="post" action="\report\edit\<%=currentReport.id%>">
          <paper-textarea name="body" label="Body" value="<%= currentReport.body %>"></paper-textarea>
          <paper-input name="relatedPapers" label="Related Papers" type="text"></paper-input>
          <paper-input name="tags" label="Tags" type="text" value="<%= currentReport.tags?currentReport.tags.join():'' %>"></paper-input>
          <a href="/report/file/<%=currentReport.document%>">
            <paper-button class="pdf" raised><iron-icon icon="description"></iron-icon>PDF</paper-button>
          </a>
          <vaadin-upload id="reportPdfUpload" target="/report/uploadPdf/<%=currentReport.id%>" accept=".pdf"></vaadin-upload> <br>
          <script>
            document.querySelector('vaadin-upload#reportPdfUpload').addEventListener('upload-before', function(event) {
              event.detail.file.formDataName = 'document';
            });
            document.querySelector('vaadin-upload#reportPdfUpload').addEventListener('upload-success', function(event) {
              submitForm('newReport');
              window.location = '/panel/workflow?tab=3'
            });
          </script>
        </form>
      </div>
    </paper-dialog-scrollable>
    <div class="buttons">
      <paper-button class="blue" raised onclick="submitForm('newReport')">Submit</paper-button>
    </div>
  </paper-dialog>
  <paper-dialog id="viewReportDialog" with-backdrop>
    <paper-toolbar>
      <div class="title" id="viewReportTitle">View Report</div>
    </paper-toolbar>
    <paper-dialog-scrollable>
      <div>
        <h3>Body:</h3> <p id="viewReportBody"></p>
        <h3>Related Papers:</h3> <p id="viewReportRelatedPapers"></p>
        <h3>Tags:</h3> <p id="viewReportTags"></p>
        <div align="center">
          <a id="viewReportPdf" href="#">
            <paper-button class="pdf" raised><iron-icon icon="description"></iron-icon>PDF</paper-button>
          </a>
        </div>
      </div>
    </paper-dialog-scrollable>
  </paper-dialog>
  <paper-dialog id="newPaperDialog" with-backdrop>
    <paper-toolbar>
      <div class="title">New Paper</div>
    </paper-toolbar>
    <paper-dialog-scrollable>
      <div align="center">
        <form id="newPaper" method="post"  action="\paper\new\" enctype="multipart/form-data">
          <paper-input name="title" label="Title" type="text"></paper-input>
          <paper-textarea name="abstract" label="Abstract"></paper-textarea>
          <paper-input name="authors" label="Authors" type="text"></paper-input>
          <paper-radio-group selected="{{newPaperType}}">
            <paper-radio-button name="submit">Submit</paper-radio-button>
            <paper-radio-button name="conferenceAccepted">Conference Accepted</paper-radio-button>
            <paper-radio-button name="journalAccepted">Journal Accepted</paper-radio-button>
            <paper-radio-button name="published">Published</paper-radio-button>
          </paper-radio-group>
          <input type="hidden" name="type" value="{{newPaperType}}">
          <paper-input name="tags" label="Tags" type="text"></paper-input>
          <paper-input name="year" label="Year" type="number"></paper-input>
          <table style="border: 1px solid #dfdfdf; background-color: #f8f8f8">
            <tr>
              <th>
                PDF
              </th>
              <th>
                Dataset
              </th>
              <th>
                Source
              </th>
            </tr>
            <tr>
              <td>
                <input name="document" type="file" accept="application/pdf"/>
              </td>
              <td>
                <input name="dataset" type="file"/>
              </td>
              <td>
                <input name="source" type="file"/>
              </td>
            </tr>
          </table>
          <!--<vaadin-upload id="paperPdfUpload" target="/paper/uploadPdf/< %=newPaper.id% >" accept=".pdf"></vaadin-upload> <br>-->
          <!--<script>-->
            <!--document.querySelector('vaadin-upload#reportPdfUpload').addEventListener('upload-before', function(event) {-->
              <!--event.detail.file.formDataName = 'document';-->
            <!--});-->
            <!--document.querySelector('vaadin-upload#reportPdfUpload').addEventListener('upload-success', function(event) {-->
              <!--submitForm('newReport');-->
              <!--window.location = '/panel/workflow?tab=3'-->
            <!--});-->
          <!--</script>-->
        </form>
      </div>
    </paper-dialog-scrollable>
    <div class="buttons">
      <paper-button class="blue" raised onclick="submitForm('newPaper')">Submit</paper-button>
    </div>
  </paper-dialog>
  <paper-dialog id="viewPaperDialog" with-backdrop>
    <paper-toolbar>
      <div class="title" id="viewPaperTitle">View Paper</div>
    </paper-toolbar>
    <paper-dialog-scrollable>
      <div>
        <h3>Abstract:</h3> <p id="viewPaperAbstract"></p>
        <h3>Authors:</h3> <p id="viewPaperAuthors"></p>
        <h3>Type:</h3> <p id="viewPaperType"></p>
        <h3>Tags:</h3> <p id="viewPaperTags"></p>
        <h3>Year:</h3> <p id="viewPaperYear"></p>
        <div align="center">
          <a id="viewPaperPdf" href="#">
            <paper-button class="pdf" raised><iron-icon icon="description"></iron-icon>PDF</paper-button>
          </a>
          <a id="viewPaperDataset" href="#">
            <paper-button class="dataset" raised><iron-icon icon="line-weight"></iron-icon>Dataset</paper-button>
          </a>
          <a id="viewPaperSourceCode" href="#">
            <paper-button class="sourcecode" raised><iron-icon icon="code"></iron-icon>Source Code</paper-button>
          </a>
        </div>
      </div>
    </paper-dialog-scrollable>
  </paper-dialog>
</template>
<script>
  var t = document.querySelector('#t');
  t.selectedTab = <%= selectedTab %>;

  function submitForm(id) {
    document.getElementById(id).submit();
  };

  $(document).ready(function () {
    document.querySelector('#pastPapers').addEventListener('row-tap',function (data) {
      document.getElementById('viewPaperTitle').innerHTML = data.detail.item.title;
      document.getElementById('viewPaperAbstract').innerHTML = data.detail.item.abstract?data.detail.item.abstract:'-';
      document.getElementById('viewPaperAuthors').innerHTML = data.detail.item.authors.length>0?data.detail.item.authors.join():'-';
      document.getElementById('viewPaperType').innerHTML = data.detail.item.type;
      document.getElementById('viewPaperTags').innerHTML = data.detail.item.tags.length>0?data.detail.item.tags.join():'-';
      document.getElementById('viewPaperYear').innerHTML = data.detail.item.year?data.detail.item.year:'-';
      if (data.detail.item.document) {
        $('#viewPaperPdf').show();
        document.getElementById('viewPaperPdf').setAttribute('href','/paper/file/' + data.detail.item.document);
      } else {
        $('#viewPaperPdf').hide();
      }
      if (data.detail.item.dataset) {
        $('#viewPaperDataset').show();
        document.getElementById('viewPaperDataset').setAttribute('href','/paper/file/' + data.detail.item.dataset);
      } else {
        $('#viewPaperDataset').hide();
      }
      if (data.detail.item.sourceCode) {
        $('#viewPaperSourceCode').show();
        document.getElementById('viewPaperSourceCode').setAttribute('href','/paper/file/' + data.detail.item.sourceCode);
      } else {
        $('#viewPaperSourceCode').hide();
      }
      viewPaperDialog.open();
    });
    document.querySelector('#pastReports').addEventListener('row-tap',function (data) {
      document.getElementById('viewReportTitle').innerHTML = 'View Report ' + data.detail.item.persianDeadline.slice(2,10);
      document.getElementById('viewReportBody').innerHTML = data.detail.item.body?data.detail.item.body:'-';
      document.getElementById('viewReportRelatedPapers').innerHTML = 'Blah Blah, and science';
      document.getElementById('viewReportTags').innerHTML = data.detail.item.tags.length>0?data.detail.item.tags.join():'-';
      if (data.detail.item.document) {
        $('#viewReportPdf').show();
        document.getElementById('viewReportPdf').setAttribute('href','/report/file/' + data.detail.item.document);
      } else {
        $('#viewReportPdf').hide();
      }
      viewReportDialog.open();
    });
  })
</script>
</body>
